name: Auto Sitemap

on:
  push:
    branches: [ "main" ]

jobs:
  sitemap:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Generate Sitemap
      run: node generate-sitemap.js

    - name: Commit Sitemap
      run: |
        git config --global user.name "bot"
        git config --global user.email "bot@github.com"
        git add sitemap.xml
        git commit -m "Auto update sitemap"
        git push
