name: Auto Generate Sitemap

on:
  push:
    branches:
      - main
    paths:
      - "**/*.html"

permissions:
  contents: write

jobs:
  sitemap:
    runs-on: ubuntu-latest

    steps:

      # Checkout repo
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      # Setup Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # Generate Sitemap
      - name: Generate Sitemap
        run: |
          node generate-sitemap.js

      # Commit & Push
      - name: Commit sitemap
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git add sitemap.xml

          if git diff --cached --quiet; then
            echo "No sitemap changes"
          else
            git commit -m "Auto update sitemap"
            git push
          fi
